
body {
    font-size: 12px;
}

.logRow {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #BEBEBE;
    padding: 4px 4px 2px 6px;
    background-color: #FFFFFF;
}

.logExtra {
    margin: 0;
    padding: 4px 8px;
    overflow-x: auto;
}

.objectLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*****************************************************************************************/

.logRow-info,
.logRow-warn,
.logRow-error,
.logRow-assert,
.logRow-consoleWarning,
.logRow-consoleError {
    padding: 4px 0 2px 24px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}

.logRow-info,
.logRow-info .objectLink-sourceLink {
    background-color: #FFFFFF;
}

.logRow-warn,
.logRow-consoleWarning,
.logRow-warn .objectLink-sourceLink,
.logRow-consoleWarning .objectLink-sourceLink {
    background-color: cyan;
}

.logRow-error,
.logRow-assert,
.logRow-consoleError,
.logRow-error .objectLink-sourceLink,
.logRow-consoleError .objectLink-sourceLink {
    background-color: LightYellow;
}

.logRow-error,
.logRow-assert,
.logRow-consoleError {
    color: #FF0000;
}

.logRow-info {
    background-image: url(chrome://firebug/skin/infoIcon.png);
}

.logRow-warn,
.logRow-consoleWarning {
    background-image: url(chrome://firebug/skin/warningIcon.png);
}

.logRow-error,
.logRow-assert,
.logRow-consoleError {
    background-image: url(chrome://firebug/skin/errorIcon.png);
}

.stackFrame .objectLink-sourceLink,
.logRow-sourceLink .objectLink-sourceLink {
    position: absolute;
    right: 4px;
    top: 4px;
}

.logRow-assert > .row2 {
    margin: 4px 0 0 20px;
}

.errorSource {
    margin: 4px 0 0 20px;
    font-family: Monaco, monospace;
    color: DarkGreen;
}

.logRow-command {
    color: #0000FF;
}

/*****************************************************************************************/

.logRow-stackTrace {
    padding-top: 0;    
    background: #F5F5F5;
}

.errorStack {
    margin-bottom: 2px;
}

.stackFrame {
    position: relative;
    padding-top: 4px;
}

.stackFunctionName {
    font-weight: bold;
    margin-right: 10px;
}

/*****************************************************************************************/

.objectBox-text,
.objectBox-string,
.objectBox-number,
.objectLink-element,
.objectLink-textNode,
.objectBox-function {
    font-family: Monaco, monospace;
}

.objectBox-text,
.objectBox-string,
.objectLink-textNode {
    white-space: pre;
}

.objectBox-number,
.objectBox-element,
.objectLink-styleRule,
.objectLink-element {
    color: #000088;
}

.objectBox-string,
.objectLink-textNode {
    color: #FF0000;
}

.objectLink-object,
.objectLink-event,
.objectLink-document {
    font-family: Lucida Grande, sans-serif;
    font-weight: bold;
}

.objectLink-object,
.objectLink-document,
.objectLink-event,
.objectBox-function {
    color: DarkGreen;
}

.objectBox-null,
.objectBox-undefined {
    padding: 1px 2px;
    border: 1px solid #666666;
    background-color: #888888;
    color: #FFFFFF;
}

.objectLink-sourceLink {
    color: #0000FF;
    font-weight: bold;
}

/*****************************************************************************************/

.contextNode.searching .logRow {
    display: none;
}

.logRow.matched {
    display: block !important;
}

.logRow.matching {
    position: absolute;
    left: -1000px;
    top: -1000px;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

/*****************************************************************************************/

.arrayItem {
    position: relative;
    padding-left: 4px;
}

.arrayLeftBracket,
.arrayRightBracket,
.arrayComma {
    font-family: Monaco, monospace;
}

.arrayLeftBracket,
.arrayRightBracket {
    font-weight: bold;
}

.arrayRightBracket {
    margin-left: 4px;
}

/*****************************************************************************************/

.eventInfo {
    margin-left: 10px;
    font-family: Lucida Grande, sans-serif;
}

/*****************************************************************************************/

.logRow-xhr {
    padding-left: 20px;
    background: #F5F5F5 no-repeat 4px 3px;
}

.objectLink-xhr {
    color: #444444;
}

.objectLink-xhr:hover {
    color: #0000FF;
}

.XHRSpyLinks {
    position: relative;
    margin-top: 10px;
}

.XHRSpyTitle {
    position: relative;
    padding: 4px 4px 1px 4px;
    border: 1px solid transparent;
    border-bottom: none;
    font-weight: bold;
    color: #666666;
}

.XHRSpyTitle:hover {
    cursor: pointer;
}

.XHRSpyTitle[selected="true"] {
    cursor: default !important;
    border-color: #BEBEBE;
    -moz-border-radius: 4px 4px 0 0;
    background-color: #FFFFFF;
}

.logRow-xhr.loading .XHRSpyResponseText,
.logRow-xhr.loading .XHRSpyHeadersText {
    font-style: italic;
    color: #888888;
}

.logRow-xhr.loading {
    background-image: url(chrome://global/skin/icons/loading_16.gif);
}

.logRow-xhr.loaded .objectLink-xhr {
    padding-left: 0;
}

.logRow-xhr.error .objectLink-xhr {
    padding-left: 0;
    color: red;
}

.XHRSpyText {
    display: none;
    margin: 0;
    border: 1px solid #BEBEBE;
    padding: 8px;
    background-color: #FFFFFF;
    font-family: Monaco, monospace;
    overflow-x: auto;
}

.XHRSpyText[selected="true"] {
    display: block;
}

/*****************************************************************************************/

.infoColumn {
    vertical-align: top;
}

.infoLabel {
    font-weight: bold;
}

/*****************************************************************************************/

.propertyLabel {
    padding-left: 20px;
    font-weight: bold;
    width: 200px;
    -moz-user-select: none;
}

.propertyContainerLabel {
    padding-left: 0;
}

.propertyContainerName:hover {
    cursor: pointer;
    color: #0000FF;
    text-decoration: underline;
}

.propertyValue {
    vertical-align: top;
    font-family: Monaco, monospace;
}

.propertyChildBox {
    padding-left: 20px;
}

.contextNode[showFunctions="false"] .propertyRow-function {
    display: none;
}

.contextNode[showConstants="false"] .propertyRow-constant {
    display: none;
}

/*****************************************************************************************/

.editor {
    outline: none !important;
    border: 1px solid red !important;
    padding: 0;
    margin: 0;
    min-width: 220px;
    background: LightYellow;
}

.twisty {
    float: left;
    margin: 2px 4px 2px 4px;
    width: 12px;
    height: 14px;
    background: url(chrome://firebug/skin/twistyClosed.png);
}

.twisty.open {
    background: url(chrome://firebug/skin/twistyOpen.png);
}

.disclosure {
    display: none;
    margin-left: 20px;
}

.disclosure.open {
    display: block;
}

/*****************************************************************************************/

.sourceRow {
    font-family: Monaco, monospace;
    font-size: 11px;
}

.sourceLine {
    cursor: pointer;
    -moz-user-select: none;
    margin-right: 10px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #CCCCCC;
    padding: 0px 4px 0 20px;
    background-color: #EEEEEE;
    color: #888888;
    white-space: pre;
}

.sourceLine:hover {
    color: #0000FF;
}

.sourceRowText {
    white-space: pre;
}

.sourceRow[exeLine="true"] {
    outline: 1px solid #D9D9B6;
    background-color: lightgoldenrodyellow;
}

.sourceRow[exeLine="true"] > .sourceLine {
    color: #000000;
    background: #EEEEEE url(chrome://firebug/skin/exe.png) no-repeat 2px 0px;
}

.sourceRow[breakpoint="true"] > .sourceLine {
    background: #EEEEEE url(chrome://firebug/skin/breakpoint.png) no-repeat 2px 0px;
}

.sourceRow[breakpoint="true"][exeLine="true"] > .sourceLine {
    background: #EEEEEE url(chrome://firebug/skin/breakpointExe.png) no-repeat 2px 0px;
}
