
/* :::: images used in preference dialog :::: */


radio[pane="advancedPane"] {
  list-style-image: url("chrome://app/skin/icons/optionsDefaults.png");
  -moz-image-region: rect(0px, 192px,  32px, 160px);
}


/* File Field Widget */
filefield {
  margin: 2px 4px;
  -moz-appearance: textfield;
}

.fileFieldContentBox {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  margin: 1px;
}

filefield[disabled="true"] .fileFieldContentBox {
  -moz-opacity: 0.5;
}

filefield[disabled="true"] .fileFieldIcon {
  -moz-opacity: 0.2;
}

.fileFieldIcon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 2px;
  -moz-margin-end: 4px;
}

.fileFieldLabel {
  -moz-appearance: none;
  background-color: transparent;
  border : none;
  padding: 1px 0px 0px 0px;
  margin : 0px;
}
